{% extends "sites/base.html" %}

{% block navbar %}
      <nav class="navbar navbar-default">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active" role="presentation">
                        <a href="/sites">Sites</a>
                </li>
                <li role="presentation">
                        <a href="/summary">Summary</a>
                </li>
            </ul>
          </div>
      </nav>
{% endblock %}

{% block content %}
 <div class="container">
    <h1> Sites </h1>
        <ul class="list-group">
         {% for site in sites %}
           <li class="list-group-item">
             <a href="/sites/{{ site.id }}">{{ site.name }}</a>
            </li>
            {% endfor %}
        </ul>
 </div>
{% endblock %}